.zodiacSigns {
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1.875rem;

  @media (max-width: 1160px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 674px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.9375rem;
  }

  @media (max-width: 440px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
