html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --color-font: #333;
  --color-primary: #087096;
  --color-background: #fff;

  --box-shadow: 0 1px 2px 0 rgba(8, 112, 150, 0.7), 1px 2px 4px 0 rgba(8, 112, 150, 0.7),
    2px 4px 8px 0 rgba(8, 112, 150, 0.7), 2px 4px 16px 0 rgba(8, 112, 150, 0.7);
}

button {
  all: unset;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-font);
  text-align: center;
  background-color: var(--color-background);
  border: none;
  border-radius: 15px;
  box-shadow: var(--box-shadow);

  &:hover {
    color: white;
    background: var(--color-primary);
    transition: background-color 0.3s ease;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--color-background);
}
