:root {
  --color-font: #333;
  --color-primary: #087096;
  --color-secondary: white;
  --color-background: #fff;
  --padding-main: 30px;
  --padding-mobile: 20px;
  --max-width-main: 1280px;
  --max-width-sign: 1000px;

  --box-shadow: 0 1px 2px 0 rgba(8, 112, 150, 0.7), 1px 2px 4px 0 rgba(8, 112, 150, 0.7),
    2px 4px 8px 0 rgba(8, 112, 150, 0.7), 2px 4px 16px 0 rgba(8, 112, 150, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--color-background);
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
