@mixin section-heading {
  font-weight: 600;
  color: var(--color-common-font);
  text-align: center;

  h3 {
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
