.gridItem {
  background-color: #fefaea;
  border: none;
  border-radius: 15px;
  box-shadow:
    0 1px 2px 0 rgb(8 112 150 / 70%),
    1px 2px 4px 0 rgb(8 112 150 / 70%),
    2px 4px 8px 0 rgb(8 112 150 / 70%),
    2px 4px 16px 0 rgb(8 112 150 / 70%);

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
