@import 'src/style/mixins';

.signDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width-sign);
  width: 100%;
  gap: 1.875rem;
  @include section-heading;

  & {
    h3 {
      margin-top: 1.875rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.875rem;
      letter-spacing: 0.05rem;
      line-height: 1.6;
    }

    @media (max-width: 1030px) {
      max-width: 43.75rem;
    }

    @media (max-width: 768px) {
      width: 28.125rem;

      h3 {
        margin-top: 0.9375rem;
      }
    }

    @media (max-width: 560px) {
      width: 18.75rem;
    }
  }
}
