@import 'src/style/mixins';

.mainBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width-main);
  width: 100%;
  margin: 0 auto;
  padding: var(--padding-main) 0;
  gap: 0.9375rem;

  @media (max-width: 768px) {
    padding: var(--padding-mobile) 0;
  }

  @media (orientation: landscape) {
    padding: 1.25rem;
  }
}
